.Header {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
  align-items: center;
}
.logo img {
  height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.logo img:hover {
  transform: scale(1.1);
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btns button {
  border-radius: 20px;
  padding: 7px 17px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.language button {
  background-color: black;
  color: white;
  border: white;
  cursor: pointer;
  transition: all 0.3s;
}
.language button:hover {
  background-color: rgb(51, 51, 51);
}
.sign_in button {
  background-color: rgb(231, 231, 231);
  color: black;
  cursor: pointer;
  transition: all 0.4s;
}
.sign_in button:hover {
  background-color: rgb(192, 192, 192);
}
